# General
_private
.DS_Store
.env
.envrc
.mnemonic
bin
cache
coverage
coverage.json
data


.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/*.log

# Forge
artifacts-forge
out
lcov.info
broadcast

# IntelliJ
.idea

# Openzeppelin Proxy files
.openzeppelin

